<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/twitterTizen" version="1.0.0" viewmodes="maximized">
    <tizen:application id="EZQCucC95l.twitterTizen" package="EZQCucC95l" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>twitterTizen</name>
	<access origin="*" subdomains="true"></access>
</widget>
